<div class="container">
    <div class="row mb-2">
        <div class="col-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center mb-2">Renk Güncelle</h4>
                      
                    <form [formGroup]="colorUpdateForm" *ngIf="colors">
                        <div>
                            <input type="hidden" id="id" formControlName="id" [value]="colors.id" class="form-control" />
                    
                            <div class="mb-2">
                                <label for="name">Name</label>
                                <input type="text" id="name" formControlName="name" [value]="colors.name" class="form-control" />
                            </div>
                            <div class="d-flex justify-content-between">
                                <button routerLink="/admin/color" class="btn btn-danger w-50 mt-2 mr-2">
                                    Geri Dön
                                </button>
                                <button type="submit" class="btn btn-primary w-50 mt-2 ml-2" (click)="add()">
                                    Renk Güncelle
                                </button>
                            </div>
                        </div>
                    </form>
                    
                      
                </div>
            </div>

        </div>
    </div>
</div>