<div *ngFor="let carDetail of cardetails">
    <div class="breadcrumb-option set-bg" [ngStyle]="{
      'background-image': 'url(../../../assets/img/breadcrumb-bg.jpg)'
    }">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{ carDetail.carName }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Begin -->

    <!-- Car Details Section Begin -->
    <section class="car-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="car__details__pic">
                        <div class="car__details__pic__large">
                            <img class="car-big-img" *ngIf="carDetail.imagePath" [src]="baseUrl + carDetail.imagePath"
                                alt="" />

                            <img class="car-big-img" *ngIf="!carDetail.imagePath"
                                src="../../../assets/img/defaultCar.jpg" alt="" />
                        </div>
                    </div>
                    <div class="car__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                    Açıklama</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="car__details__tab__info">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 px-4">
                                            <div class="car__details__tab__info__item">
                                                <ul>
                                                 
                                                    <li>
                                                        <i class="fa fa-check"></i> 
                                                        {{ carDetail.description }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                             
                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="car__details__sidebar">
                        <div class="car__details__sidebar__model">
                            <ul>
                                <li>İlan No <span>{{ carDetail.carId }}</span></li>
                            </ul>
                            <ul>
                                <li>Marka <span>{{ carDetail.brandName }}</span></li>
                            </ul>
                            <ul>
                                <li>Renk <span>{{ carDetail.colorName }}</span></li>
                            </ul>
                            <ul>
                                <li>Yıl <span>{{ carDetail.modelYear }}</span></li>
                            </ul>
                           
                        </div>
                        <div class="car__details__sidebar__payment">
                            <ul>
                                <li>Fyiat / Günlük <span>{{carDetail.dailyPrice}} TL</span></li>
                            </ul>
                            <button href="#" class="btn btn-outline-danger w-100"><i class="fa fa-cart-plus mx-2"></i> Sepete Ekle</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Car Details Section End -->
</div>