<div class="car__sidebar">
  <div class="car__search">
    <h5>Araç Ara</h5>
    <form action="#">
      <input type="text" placeholder="Fiat ..." />
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="car__filter">
    <h5>Car Filter</h5>
    <form action="#">
      <select class="form-control my-3">
        <option data-display="Brand">Select Brand</option>
        <option value="">Acura</option>
        <option value="">Audi</option>
        <option value="">Bentley</option>
        <option value="">BMW</option>
        <option value="">Bugatti</option>
      </select>
      <select class="form-control my-3">
        <option data-display="Model">Select Model</option>
        <option value="">Q3</option>
        <option value="">A4</option>
        <option value="">AVENTADOR</option>
      </select>
      <select class="form-control my-3">
        <option value="">Body Style</option>
        <option value="">Option 1</option>
        <option value="">Option 2</option>
      </select>
      <select class="form-control my-3">
        <option value="">Condition</option>
        <option value="">First Hand</option>
        <option value="">Second Hand</option>
      </select>
      <select class="form-control my-3">
        <option value="">Transmisson</option>
        <option value="">Bluetooth</option>
        <option value="">WiFi</option>
      </select>
      <select class="form-control my-3">
        <option value="">Mileage</option>
        <option value="">27</option>
        <option value="">20</option>
        <option value="">15</option>
        <option value="">10</option>
      </select>
      <select class="form-control my-3">
        <option value="">Engine</option>
        <option value="">BS3</option>
        <option value="">BS4</option>
        <option value="">BS5</option>
        <option value="">BS6</option>
      </select>
      <select class="form-control my-3">
        <option value="">Colors</option>
        <option value="">Red</option>
        <option value="">Blue</option>
        <option value="">Black</option>
        <option value="">Yellow</option>
      </select>

      <div class="car__filter__btn">
        <button type="submit" class="site-btn">Reset FIlter</button>
      </div>
    </form>
  </div>
</div>
