<div class="car__sidebar">
  <div class="car__search">
    <h5>Araç Ara</h5>
    <form action="#">
      <input type="text" placeholder="Fiat ..." />
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="car__filter">
    <h5>Araç Filtre</h5>
    <form action="#">

      <select class="form-control my-3" >
        <option   selected>Marka Seç</option>
        <option *ngFor="let category of brand" [value]="category.name">{{ category.name }}</option>
    </select>
    
    
    

      <select class="form-control my-3">
        <option value="">Renk Seç</option>
        <option *ngFor="let category of color">{{category.name}}</option>
       
      </select>
  

      <div class="car__filter__btn">
        <button type="submit" class="site-btn">Reset FIlter</button>
      </div>
    </form>
  </div>
</div>
