<li *ngIf="cartItems.length > 0" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        My Cart
    </a>
    <ul class="dropdown-menu">
        <li *ngFor="let carItem of cartItems">
            <a class="dropdown-item"><span class="badge bg-secondary">{{ carItem.quantity }}</span>{{ carItem.car.name
                }}<a class="badge bg-danger" (click)="DeleteCart(carItem.car)" href="#">Delete</a></a>
        </li>
        <li><a class="dropdown-item">Go To Cart</a></li>
    </ul>
</li>