<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Admin Panel</h3>
        </div>
  
        <ul class="list-unstyled components">
           
            <li>
                <a href="#">Araba Ayarları</a>
            </li>
            
            <li>
                <a href="#">Marka Ayarları</a>
            </li>
            <li>
                <a href="#">Renk Ayarları</a>
            </li>
        </ul>
  
       
    </nav>
  
    <!-- Page Content  -->
    <div id="content">
  
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
  
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
  
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                   
                        <li class="nav-item">
                            <a class="nav-link" href="/">Anasayfa Dön</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Çıkış Yap</a>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </nav>
  
        <router-outlet></router-outlet>
    </div>
  </div>
   
 
