
.car_form {
	position: relative;
}

.car_form input {
	height: 46px;
	width: 100%;
	font-size: 15px; 
	color: #727171;
	padding-left: 20px;
	border: 1px solid #ebebeb; 
	background: #ffffff;
}

.car_form input::-webkit-input-placeholder {
	color: #727171;
}

.car_form input::-moz-placeholder {
	color: #727171;
}

.car_form input:-ms-input-placeholder {
	color: #727171;
}

.car_form input::-ms-input-placeholder {
	color: #727171;
}

.car_form input::placeholder {
	color: #727171;
}

.car_form button {
	font-size: 14px;
	color: #AAAAB3;
	position: absolute;
	right: 0;
	top: 0;
	background: transparent;
	border: none;
	height: 100%;
	padding: 0 15px;
}